/* https: //coolors.co/2c1320-e8eef2-d6c9c9-004346 */

:root {
    --background: #2c1320;
    --fonts: #e8eef2;
    --heading: #d6c9c9;
    --accent: #004346;
    --fontFamily: "Montserrat",
        sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--fontFamily);
    color: var(--fonts);
}

header,
footer {
    background-color: var(--background);
    padding: .7rem;
    color: var(--heading);
    text-align: center;
}


main {
    background-color: var(--accent);

}

form {
    padding: 1rem;
}

form label {
    display: block;
    padding-top: 1rem;
    font-size: 17px;
    color: var(--fonts);
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="number"],
select,
textarea {
    margin-top: .6rem;
    display: block;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
    font-family: var(--fontFamily);
}

form input[type="radio"],
form input[type="checkbox"] {
    display: inline;
    margin-right: .5rem;
}

form div {
    padding-top: 1rem;
    font-size: 17px;
}

form input:required,
form select:required {
    border-bottom: 10px solid red;
}

form input:required:valid,
form select:required:valid {
    border-bottom: 10px solid green;
}

form input[type="submit"] {
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    padding: .8rem;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 5px var(--heading);
    font-size: 16px;
    background-image: linear-gradient(to left, rgb(5, 187, 51), var(--background));
    color: white;
    font-family: var(--fontFamily);
}

#reviewed {
    min-height: 50vh;
    color: var(--fonts);
    text-align: center;
    align-content: center;
    text-wrap: wrap;
    font-family: var(--fontFamily);
}

a {
    color: var(--fonts);
}